@import '/styles/variables.module';
@import "/node_modules/bootstrap/scss/functions";
@import "/node_modules/bootstrap/scss/mixins";
@import "/node_modules/bootstrap/scss/variables";

.filesListContainer{
  height: 10rem;
  border: 2px solid;
}

.height30rem{
  height: 30rem;
}

.border2px{
    border: 2px solid;
  padding: 0 10px 10px 10px;
}