
@import '/styles/variables.module';

/*html,*/
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto+Flex", sans-serif;
  //background-color: #212529;
}
/*prevent overflow on right side*/
body {
  overflow-x: hidden;
}
/*!*html {*!*/
/*!*    overflow: scroll;*!*/
/*!*    overflow-x: hidden;*!*/
/*!*}*!*/
/*!* ::-webkit-scrollbar {*!*/
/*!*    width: 0;  !* Remove scrollbar space *!*!*/
/*!*    background: transparent;  !* Optional: just make scrollbar invisible *!*!*/
/*!*}*!*/
/*!*.container::-webkit-scrollbar {*!*/
/*!*    display: none;  !* Safari and Chrome *!*!*/
/*!*}*!*/

/*a {*/
/*  color: inherit;*/
/*  text-decoration: none;*/
/*}*/

/** {*/
/*  box-sizing: border-box;*/
/*}*/

input {
  // Styling can be put here
  font-family: "Roboto+Flex", sans-serif;
}

a {
    //color: $pw-text-color;
    text-decoration: none;
}