/* variables.module.scss */

//dark theme
//$pw-bg-color: #1f2b37;
////$pw-bg-color: #212529;
//$pw-text-color: #ffffff;



// boostrap vars
$spacer:1.5rem;
$border-width:1px;
$btn-border-radius:1.35rem;
$line-height-base:1.5;
$font-size-base:1rem;

$pw-p-content-line-height: calc($spacer + 10%) ;
$pw-p-spacer: 1.25rem;

$pw-bg-color: #ffffff;
//$pw-bg-color: #212529;
$pw-text-color: #000000;

// bootstrap colors
$primary: #212529;
//$primary:#0d6efd;
$secondary:#6c757d;
$success:#198754;
$danger:#dc3545;
$info:#0dcaf0;
$warning:#ffc107;
$light:#f8f9fa;
$dark:#212529;

//other custom colors
$title-primary: #03366b;

// Form styles
$form-feedback-valid-color: #5b806e;

//dark theme
//$primary:#5C8F94;
//$secondary:#6f7f8c;
//$success:#3e4d59;
//$danger:#cc330d;
//$info:#2F3C48;
//$warning:#6e9fa5;
//$light:#eceeec;
//$dark:#1e2b37;


$headings-font-family: var(--font-title);
$font-family-base: var(--font-body);

:export {
  pw-bg-color:$pw-bg-color;
  pw-text-color:$pw-text-color;
  pw-p-content-line-height:$pw-p-content-line-height;
  spacer:$spacer;
  border-width:$border-width;
  btn-border-radius:$btn-border-radius;
  line-height-base:$line-height-base;
  pw-p-spacer:$pw-p-spacer;
  //pw-section-spacer:$pw-section-spacer;
  //pw-subsection-spacer:$pw-subsection-spacer;

  primary:$primary;
  secondary:$secondary;
  success:$success;
  danger:$danger;
  info:$info;
  warning:$warning;
  light:$light;
  dark:$dark;


}



.fs-7 {
  font-size: $font-size-base * 0.9;
}