.paddingTop {
  margin-top: 50px;
}

.workHeader {
  border-top: 1px solid #fff;

}

.workTitle {
  font-size: 2rem;
  font-family: var(--font-title);
  font-weight: bold;
}

.workSmallTitle {
  font-size: 1.5rem;
  font-family: var(--font-title);
}
.workAuthor {
  font-family: var(--font-title);
  font-size: 1.5rem;
}

.displayLinebreak {
  white-space: pre-line;
}
.align_center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.workAuthorLink a:link {
  //color: #fff;
}
.workAuthorLink {
}
/* visited link */
.workAuthorLink a:visited {
  //color: #fff;
}

/* mouse over link */
.workAuthorLink a:hover {
  color: #b7bac4;
}

/* selected link */
.workAuthorLink a:active {
  color: #fff;
}
.sectionBreak {
  padding-top: 24px;
}

.tokensGrid {
  border-top: 1px solid #eaeaea;
}

.workGalleryItem {
  margin-bottom: 20px;
  font-size: 12px;
}
