.hoverZoomContainer {
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}

.hoverZoom {
  transition: 0.5s all ease-in-out;

  display: block;

  transform: scale(1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hoverZoom:hover {
  transform: scale(1.5);
}
