/* variables.module.scss */

$pw-bg-color: #1f2b37;
//$pw-bg-color: #212529;
$pw-text-color: #ffffff;

$pw-p-content-line-height: 1.9rem;

:export {
  pw-bg-color:$pw-bg-color;
  pw-text-color:$pw-text-color;
  pw-p-content-line-height:$pw-p-content-line-height
}

